<nav class="fixed p-4 md:flex md:items-center md:justify-between">
    <div class="brand-logo">
        <img class="h-3 cursor-pointer" src="../../../assets//img/logo-black.png" alt="quran-digital-api" />
    </div>

    <!-- Hamburger btn -->
    <button class="md:hidden">
    <img src="../../../assets/icons/hamburger-menu.svg" alt="" />
  </button>

    <ul class="md:flex md:items-center">
        <li>
            <a href="#" class="text-title-sm font-medium">Surat</a>
        </li>
        <li>
            <a href="#" class="text-title-sm font-medium">Juz</a>
        </li>
        <li>
            <a href="#" class="text-title-sm font-medium">Tentang</a>
        </li>
    </ul>
</nav>

<!-- <nav class="p-4 md:flex md:items-center md:justify-between">
    <div class="brand-logo">
      <img
        class="h-3 cursor-pointer"
        src="../../../assets//img/logo-black.png"
        alt="quran-digital-api"
      />
    </div>
  
    <ul class="md:flex md:items-center">
      <li>
        <a href="#">HOME</a>
      </li>
      <li>
        <a href="#">HOME</a>
      </li>
      <li>
        <a href="#">HOME</a>
      </li>
      <li>
        <a href="#">HOME</a>
      </li>
      <li>
        <a href="#">HOME</a>
      </li>
      <li>
        <a href="#">HOME</a>
      </li>
    </ul>
  </nav> -->